<div class="fans-list" style="margin-top: 20px; border-bottom: 1px solid #eee;">
  <p style="font-weight: bold;">
    <i class="fa fa-users"></i>
    粉丝(<%= count %>)
  </p>
  <div class="user-list">
    <% userList.forEach(user => { %>
      <a href="/profile/<% user.userName %>" class="user-name" style="column-rule: olivedrab;">
        <img src="<%= user.picture %>" alt="">
        <span><%= user.nickName %></span>
      </a>
    <% }) %>
  </div>
</div>