<!-- 引入头部组件 -->
<%- include('layout/header', {
  title: '微博-404',
  isNav: true
}) %>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h4 style="margin-top: 100px;">404</h4>
      <hr>
      <p>网页未找到，点击<a href="/">返回首页</a></p>
    </div>
  </div>
</div>

<!-- 引入底部组件 -->
<%- include('layout/footer') %>
  